
<div id="appContent">
    <div style="padding: 15px;">
        <form id="Institution">
            <div class="row-fluid">
                <div class="span9">
                    <div class="row-fluid">       
                        <div class="span12">
                            <div class="control-group span4">
                                <div class="inputFormat"> 
                                    <div class="controls">
                                        <label class="span5">Institution ID:</label>
                                        <input class="span7"  required type="text"  maxlength="8"  data-validation-regex-regex="\w{1,8}"  data-validation-regex-message="No spaces allowed, max 8 characters" value="<%= Institution.InstID %>" name="InstID"/>
                                       
                                    </div>
                                </div>
                            </div>
<!--                            <div class="control-group span4">
                                <div class="inputFormat"> 
                                <div>
                                      <label class="span5">Address 1:</label>
                                     <input class="span7"  required type="text" placeholder="Address 1" value="<%= Institution.Address.Address_Part1 %>" name="Address[Address_Part1]"/>
                                </div>

                                <div>
                                    <label class="span5">Address 2:</label>
                                    <input class="span7"  type="text" placeholder="Address 2" value="<%= Institution.Address.Address_Part2 %>" name="Address[Address_Part2]"/>
                                </div>

                                <div>
                                    <label class="span5">Address 3:</label>
                                    <input class="span7"  type="text" placeholder="Address 3" value="<%= Institution.Address.Address_Part3 %>" name="Address[Address_Part3]"/>
                                </div>

                                <div>
                                    <label class="span5" >Address 4:</label>
                                    <input class="span7"  type="text" placeholder="Address 4" value="<%= Institution.Address.Address_Part4 %>" name="Address[Address_Part4]"/>
                                </div>

                              
                                <div class="controls">
                                    <label class="span5">City</label>
                                    <input class="span7"  required type="text" placeholder="City" value="<%= Institution.Address.City %>" name="Address[City]"/>
                                </div>    
                              
                                </div>
                            </div>-->
                            <div class="control-group span4">
                                <div class="inputFormat"> 
                                        <div class="controls">
                                            <label >Fax Number:</label>
                                            <input class="span7"  required type="tel" data-validation-regex-regex="^\D?(\d{3})\D?\D?(\d{3})\D?(\d{4})$"   data-validation-regex-message="Please enter a valid fax, ###-###-####"  value="<%= Institution.Fax_Number %>" name="Fax_Number"/>
                                        </div>    
                                </div>
                            </div>
                            <div class="control-group span4">
                                <div class="inputFormat"> 
                                        <div class="controls">
                                            <label >Effective Date:</label>
                                            <input class="span7"  required type="text" value="<%= Institution.eff_date %>" name="eff_date" class="datepicker"/>
                                        </div>   
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row-fluid">       
                        <div class="span12">
                            <div class="control-group span4">
                                <div class="inputFormat"> 
                                    <div class="controls">
                                         <label class="span5">Institution Short Name:</label>
                                         <input class="span7"  required type="text" maxlength="40" data-validation-regex-regex="^(?:\b\w+\b[\s\r\n]*){1,40}$" data-validation-regex-message="Maximum characters allowed is 40" value="<%= Institution.Description_Short %>" name="Description_Short"/>
                                       </div>   
                                </div>
                            </div>
                           
                            <div class="control-group span4">
                                <div class="inputFormat"> 
                                        <div class="controls">
                                                <label class="span5" >Country:</label>
                                                <select class="span7" id="country" name="Address[Country]">

                                                </select>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">       
                        <div class="span12">
                            <div class="control-group span4">
                                <div class="inputFormat"> 
                                            <div class="controls">
                                                <label class="span5">Institution Long Name:</label>
                                                <input class="span7"  required type="text" maxlength="120" data-validation-regex-regex="^(?:\b\w+\b[\s\r\n]*){1,120}$" data-validation-regex-message="Maximum characters allowed is 120" value="<%= Institution.Description_Long %>" name="Description_Long"/>   
                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="control-group span4">
                            <div class="inputFormat"> 
                                <div class="controls">  
                                         <label class="span5">Phone Number:</label>
                                         <input class="span7"  required type="tel" data-validation-regex-regex="^\D?(\d{3})\D?\D?(\d{3})\D?(\d{4})$"   data-validation-regex-message="Please enter a valid phone, ###-###-####" value="<%= Institution.Phone_Number %>" name="Phone_Number"/>
                               </div>  
                            </div>
                            </div>
                        <div class="span4">
                            <div class="inputFormat"> 
                                    <div class="controls">
                                        <label class="span5">State</label>
                                        <select class="span7" id="state" name="Address[State]"></select>
                                    </div>
                                <div>
                                    <div class="controls">
                                        <label class="span5">Zip Code</label>
                                        <input class="span7"  required type="tel" data-validation-regex-regex="^\d{5}(?:[-\s]\d{4})?$"   data-validation-regex-message="Please enter a valid Zipcode" placeholder="Postal Code" value="<%= Institution.Address.ZipCode %>" name="Address[ZipCode]"/> 
                                    </div>
                                </div>

                               
                            </div>
                        </div>
                        
                        </div>
                    </div>
                </div>
               
            </div>
        </form>
        <div class="row-fluid" >
      
    </div>

</div>
</div>