.circle_menu li:first-child {
    background: transparent;
}
.circle_menu li {
    background:#000;
    color:#fff;
    font-size:25px;
}
.circle_menu.inverted li {
    background:#fff;
    color:#000;
    font-size:25px;
}
.circle_menu.inverted li:first-child{
    background-color: transparent!important;
}
.circle_menu a{
    text-decoration: none;
    color:#fff;
}
.circle_menu i{
    font-size: 15px;
    top: 10px;
    position: absolute;
    left: 10px;
}
.circle_menu.inverted i{
    font-size: 15px!Important;
    top: 10px!Important;
    position: absolute!Important;
    left: 10px!Important;
    color: #000!Important;
    margin: 0!important;
}
.circle_menu16 {
    -webkit-transform-origin: 17px 17px;
    -moz-transform-origin: 17px 17px;
    -o-transform-origin: 17px 17px;
    transform-origin: 17px 17px;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.circle_menu16.circleMenu-open {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.circle_menu16.circleMenu-open > li:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
:not(.circle_menu16).circleMenu-open > li:first-child {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}

nav{
    width:200px;
    float:left;
}
nav ul{
    list-style:none;
    padding:0;
    margin:0;
}
nav a{
    display:block;
    text-decoration:none;
}
nav a.active{
    background:blue;
    color:#fff;
}
#examples {
    margin-left:200px;
}

#examples > div {
    display:none;
    width:300px;
    height:300px;
    border:1px solid black;
    position:relative;
    overflow:hidden;
}

.circle_menu{position:relative;}

.circle_menu2, .circle_menu14, .circle_menu15, .circle_menu16{
    left:135px;
    top:135px;
}
.circle_menu3{
    right:4px;
    bottom:34px;
}
.circle_menu4{
    top:0;
    right:4px;
}
.circle_menu_sched{
    top:-50px;
    right: -50%;
}
.circle_menu5{
    bottom:34px;
    left:0;
}
.circle_menu6, .circle_menu10{
    top:0;
    left:135px;
}
.circle_menu7, .circle_menu11{
    top: -65px;
    left: 65px;
}
.circle_menu8, .circle_menu12{
    bottom:34px;
    left:135px;
}
.circle_menu9, .circle_menu13{
    top:135px;
    right:4px;
}
.circle_menu10, .circle_menu14 {
    top: -53px;
    left: 35px;
}
.circle_menu15{
    top: -35px;
    left: 0px;
}
.circle_zero{
    top:0;
    right:0;
}