/*Bootstrap Overrides*/
.progress-warning .bar,
.progress .bar-warning {
  background-color: #FF6C00;
  background-image: -moz-linear-gradient(top, #FF6C00, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF6C00), to(#f89406));
  background-image: -webkit-linear-gradient(top, #FF6C00, #f89406);
  background-image: -o-linear-gradient(top, #FF6C00, #f89406);
  background-image: linear-gradient(to bottom, #FF6C00, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6C00', endColorstr='#fff89406', GradientType=0);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*select{
	font-size: 1.5em;
	font-weight: bold;
	width: 90%;
	height: 40px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]{
	
	font-size: 1.5em !important;
	font-weight: bold !important;
	border: 2px solid #e2e2e2 !important;
	width: 90% !important;
	height: 40px !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
}*/

:valid + .icon-form-validation::before {
	font-family: 'icomoon' !important;
	content: attr(data-icomoon) !important;
	color: green !important;
	margin-left: 5px;
}

textarea:invalid,
input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="datetime"]:invalid,
input[type="datetime-local"]:invalid,
input[type="date"]:invalid,
input[type="month"]:invalid,
input[type="time"]:invalid,
input[type="week"]:invalid,
input[type="number"]:invalid,
input[type="email"]:invalid,
input[type="url"]:invalid,
input[type="search"]:invalid,
input[type="tel"]:invalid,
input[type="color"]:invalid {
    color: red !important;
	border: 1px solid red !important;
}

.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}




/*Animation*/
@-webkit-keyframes slideInRight {
	0% {
    	width: 40px;
		-webkit-transform: translateX(100%);
	}
	
	100% {
		width: 30%;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes slideInRight {
	0% {
    	width: 40px;
		-moz-transform: translateX(0);
	}
	
	100% {
		width: 30%;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes slideInRight {
	0% {
    	width: 40px;
		-o-transform: translateX(0);
	}
	
	100% {
		width: 30%;
		-o-transform: translateX(0);
	}
}

@keyframes slideInRight {
	0% {
    	width: 40px;
		transform: translateX(0);
	}
	
	100% {
		width: 30%;
		transform: translateX(0);
	}
}

.slideInRight {
	-webkit-animation-name: slideInRight !important;
	-moz-animation-name: slideInRight !important;
	-o-animation-name: slideInRight !important;
	animation-name: slideInRight !important;
}

@-webkit-keyframes slideInMaxRight {
	0% {
    	width: 40%;
		-webkit-transform: translateX(0);
	}
	
	100% {
		width: 80%;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes slideInMaxRight {
	0% {
    	width: 40%;
		-moz-transform: translateX(0);
	}
	
	100% {
		width: 80%;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes slideInMaxRight {
	0% {
    	width: 40%;
		-o-transform: translateX(0);
	}
	
	100% {
		width: 80%;
		-o-transform: translateX(0);
	}
}

@keyframes slideInMaxRight {
	0% {
    	width: 40%;
		transform: translateX(0);
	}
	
	100% {
		width: 80%;
		transform: translateX(0);
	}
}

.slideInMaxRight {
	-webkit-animation-name: slideInRight !important;
	-moz-animation-name: slideInRight !important;
	-o-animation-name: slideInRight !important;
	animation-name: slideInRight !important;
}


@-webkit-keyframes slideOutRight {
    /*
	0% {
    	width: 40px;
		-webkit-transform: translateX(100%);
	}
	
	100% {
		width: 30%;
		-webkit-transform: translateX(0);
	}
    */
	0% {
		width: 30%;
		-webkit-transform: translateX(0);
	}
	
	100% {
    	width: 40px;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes slideOutRight {
	0% {
		width: 30%;
		-moz-transform: translateX(0);
	}
	
	100% {
    	width: 40px;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes slideOutRight {
	0% {
		width: 30%;
		-o-transform: translateX(0);
	}
	
	100% {
    	width: 40px;
		-o-transform: translateX(0);
	}
}

@keyframes slideOutRight {
	0% {
		width: 30%;
		transform: translateX(0);
	}
	
	100% {
    	width: 40px;
		transform: translateX(0);
	}
}

.slideOutRight {
	-webkit-animation-name: slideOutRight !important;
	-moz-animation-name: slideOutRight !important;
	-o-animation-name: slideOutRight !important;
	animation-name: slideOutRight !important;
}

/*Overide warning control color*/
.control-group.warning .control-label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #FEA700;
}

.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #FEA700;
}

.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  border-color: #FEA700;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}

.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #FEA700;
  background-color: #fcf8e3;
  border-color: #c09853;
}

.btn{
    line-height: 20px !important;
}

.modal-backdrop{
    opacity: 0.1;
}

/*nav pills hover effect always on*/
.nav-pills > li > a {
    color: #ffffff;
    background-color: #999999;
    border-color: #999999;
}


@media (min-width: 1200px)
.span3 {
    width: 275px;
}
