/*arsenal font*/
@font-face { font-family: Arsenal; src: url('/css/font/arsenal/Arsenal-Regular.otf'), url('/css/font/arsenal/Arsenal-Italic.otf'), url('/css/font/arsenal/Arsenal-BoldItalic.otf'), url('/css/font/arsenal/Arsenal-Bold.otf'); /* IE9 */ }

/*Variables START*/
/*@mainColor: #ffa500;*/
/*@mainColor: #EDD311;*/
@mainColor: #F1563F;
@bodyFontColor: #AAAAAA;

@subColor: blue;
@blueHighligt: #8ec0ff;
@alerts: #FE0000;
@gradient: @mainColor - #333;
@transparentBackground: rgba(255,255,255,0.6);
@transparentBackgroundDark: rgba(0,0,0,0.6);
@transparentBackgroundHeaderDark: rgba(0,0,0,0.9);
@transparentBackgroundDarkLight: rgba(10, 12, 11, 0.53);
@inputBackgroundColor: rgba(75, 75, 75, 0.9);
@darkGrey:#252525;


body {
    font-family: Arsenal !important;
    padding:0!important;
    /*.carbonBackground();*/
    /*background-color: @bodyFontColor;*/
    
    background: #1a1a1a url(/imgs/backgrounds/blackboard3.jpg) center top;
    overflow: hidden;
}

#fullPage {
    position: relative;
}

.fullAppContent {
    left: 0px;
}

.logInWrapper {
    padding: 0;
    form{
        padding: 10px;
    }
}