/**
 * jQuery.popover2 example stylesheet.
 * By Davey IJzermans
 * http://daveyyzermans.nl
 * 
 * License: public domain
 */

.popover2 {
	position: absolute;
	top: 0; left: 0;
	max-height: 240px;
	width: 220px;
	display: none;
	-webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}
.popover2.wider {
	width: 340px;
}
.popover2.large {
	width: 470px !important;
	max-height: 350px !important;
}
.popover2 .arrow, .popover2 .top-arrow {
	position: absolute;
	top: 0; left: 50%;
	margin: -10px 0 0 -3px;
	width: 0; height: 0;
	border-top: 5px solid transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #121212;
}
.popover2 .bottom-arrow {
	top: 100%; left: 50%;
	margin: 0 0 0 -3px;
	border-top: 5px solid #121212;
	border-bottom: 5px solid transparent;
}
.popover2 .left-arrow {
	top: 50%; left: -10px;
	margin: -3px 0 0;
	border-right: 5px solid #121212;
	border-bottom: 5px solid transparent;
}
.popover2 .right-arrow {
	top: 50%; left: 100%;
	margin: -3px 0 0;
	border-left: 5px solid #121212;
	border-bottom: 5px solid transparent;
}
.popover2 .wrap {
	background: white;
	border: 3px solid #121212;
	/*border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;*/
}
.popover2 .title {
	background: #121212 url('/imgs/popover_gradient.png') repeat-x;
	color: white;
	font-size: 1.3em;
	text-align: center;
	padding: 8px 0 0 0;
	height: 27px;
}
.popover2 .content2 {
	padding: 15px;
	max-height: 175px;
	overflow: auto;
	line-height: 1.3em;
	font-size: 0.9em;
        height:100px;
        overflow: auto;
}


.popover2.large .content2 {
	max-height: 185px!important;
}

