<div class="row-fluid" style="text-align: center;">
    <div class="widget_header"><h4>Catalog Search</h4></div>
    <input class="span12 catSearch" placeholder="Catalog Search" type="text"/>
</div>

<!-- <div class="row-fluid headerNavNoBack" style="text-align: center; display: block;">
    <input class="" placeholder="Catalog Search" type="text"/> &nbsp; <button class="btn btn-warning">GO</button>
</div>
<div class="row-fluid headerNavWithBack" style="text-align: center; display: none;">
    <button class="btn btn-warning icomoon-arrow-left-14 backBtn">&nbsp;</button> &nbsp; <input class="" placeholder="Catalog Search" type="text" style="width: 50%;"/> &nbsp; <button class="btn btn-warning">GO</button>
</div> -->

<div class="mainDiv">

</div>
