<div class="row-fluid">
    <div class="widget_header"><h4>User Search</h4></div>
    <input id="studentSearch" class="span12" placeholder="Student Search" type="text"/>
</div>
<div class="lastSearch iScrollWrapper">
    <!-- <ul class="nav nav-list scroller">
        <li class="nav-header">Last Search Values</li>
    </ul> -->
    <div class="scroller">
        <!-- <div class="row-fluid">
            <div class="span6 text-truncate">
                alex22 - Felipe Diep
            </div>
            <div class="span6 text-truncate">
                alex22 - Felipe Diep
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6 text-truncate">
                alex22 - Felipe Diep
            </div>
            <div class="span6 text-truncate">
                alex22 - Felipe Diep
            </div>
        </div> -->
    </div>
</div>