
<span id="btnAuto" class="icomoon-wand" style="margin-right: 30px;"></span>
<span id="btnFav" class="icomoon-star-3" style="margin-right: 30px;"></span>
<span id="btnSugg" class="icomoon-map" style="margin-right: 120px;"></span>