<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><span class="icomoon-info"></span> Athletic Ticket Office</h3>
</div>

<div class="modal-body officeInfoModal">
    <div class="row-fluid">
        <div class="row-fluid">
            <div class="span8">
                <span class="span12">U.S. Century Bank Arena</span>
                <span class="span12">11200 SW 8th St.</span>
                <span class="span12">Miami, FL. 33199</span>
                <span class="span12">Phone: 305-348-4697</span>
            </div>
            <div class="span4">
                <span class="span12">Office: 8am-5pm</span>
                <span class="span12">Chat: 8am-8pm</span>
                <span class="span12">sports@fiu.edu</span>
            </div>
        </div>
    </div>
</div>