<div class="chatView chat3">
    <label class="text-orange innerHeading">Active Chats</label>
    <div class="activeChatsContainer friedsList">
        <img id="chat" class="img-circle userImg viewActiveChat friendImgSmall iscrollPassThrough" src="imgs/sample_student.png" alt="friend-image">
        <img id="chat2" class="img-circle userImg viewActiveChat friendImgSmall iscrollPassThrough" src="imgs/JamesSmith.png" alt="friend-image">
        <img id="chat3" class="img-circle userImg viewActiveChat friendImgSmall iscrollPassThrough" src="imgs/SilviaGonzalez.png" alt="friend-image">
        <img id="chat4" class="img-circle userImg viewActiveChat friendImgSmall iscrollPassThrough" src="imgs/SeanMiller.png" alt="friend-image">
    </div>
    <div class="chatContainer friedsList spacedScroller">
        <div class="row-fluid eachFriend chatFilter viewChat" style="margin-bottom: 0!important">
            <div class="span12">

                <div class="imgContainer">
                    <img id="img_2" class="img-circle userImg friendImgSmall iscrollPassThrough" src="imgs/SilviaGonzalez.png" alt="friend-image">
                    <ul id="menu_2" class="inverted circleMenu_2 circle_menu15 circle_menu">
                        <li><a class="showBubble" id="showBubbles_2" href="#"></a></li>
                        <li class="showDetails bubbles bubble_1"><a><i class="icomoon-phone"></i></a></li>
                        <li class="showDetails bubbles bubble_1"><a><i class="icomoon-denied"></i></a></li>
                        <li class="bubbles bubble_1"><a><i class="icomoon-chat-6"></i></a></li>
                        <li class="bubbles bubble_2"><a><i class="icomoon-envelope-2"></i></a></li>
                    </ul>
                </div>
                <span class="span9 pull-left descrTitle" style="margin-top: -8px">Silvia Gonzalez 7/18/2013, 1:22:14 pm</span>
                <span class="span9 descr pull-left">
                    Undergraduate Advising
                </span>
            </div>
        </div>
        <iframe width="320" height="150" src="//www.youtube.com/embed/Fg_hzar4CYc" frameborder="0" allowfullscreen></iframe>
        <div class="row-fluid responding" style="margin-top: 0!important">
            <div id="response" class="span10">
                <span class="pull-left">* Chat Attachment</span>
                <span class="pull-right">Video Chat</span>
                <textarea name="response" class="span12" rows="3"></textarea>
                <ul class="nav nav-pills">
                    <li class="active pull-right">
                        <a>Send</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>