<div class="expandedRegion">
    <div class="span12 subMenu">
        <span class="label label-warning subMenuNetwork subMenu22">Network</span>
        <span class="label label-warning subMenuClasses subMenu22">Classes</span>
        <span class="label label-warning subMenuAdvisor subMenu22">Advisors</span>
        <span class="label label-warning subMenuOthers subMenu22">Other</span>
    </div>
    <div class="icons">
        <img id="home" class="network iconLink network submenu" src="imgs/SC Icon.png">
        <i id="chat" class="icomoon-chat-6 chat iconLink submenu"></i><br><br>
        <i id="calendar" class="icomoon-calendar-7 calendar iconLink submenu"></i><br><br>
        <i id="add" class="icomoon-user-add iconLink submenu"></i><br><br>
        <i id="import" class="icomoon-cloud-upload-2 iconLink submenu"></i>
        <i></i>
    </div>
</div>

<div class="mainContent">
    <div class="row-fluid subMenuOther row-fluid">
        <div class="span12">
            <div class="accordion" id="accordion2_" style="margin-left: 10px;">
                <div class="accordion-group" style="width: 270px!important; float:left">
                    <div class="accordion-heading">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2_" href="#collapseOne_">
                            Financial Aid Office
                            <i id="financial" class="icomoon-info green"></i>
                        </a>
                    </div>
                    <div id="collapseOne_" class="accordion-body collapse" style="height: 0px;">
                        <div class="accordion-inner">
                            <div class="friedsList spacedScroller">
                                <div class="row-fluid eachFriend">
                                    <div class="span12">
                                        <div class="leftSide">
                                            <img id="img_1" class="img-circle pull-left userImg friendImgSmall iscrollPassThrough" src="imgs/SeanMiller.png" alt="friend-image">
                                            <ul id="menu_1" class="inverted circleMenu_1 circle_menu15 circle_menu">
                                                <li><a class="showBubble" id="showBubbles_1" href="#"></a></li>
                                                <li class="showDetails bubbles bubble_1"><a><i class="icomoon-phone"></i></a></li>
                                                <li class="showDetails bubbles bubble_1"><a><i class="icomoon-denied"></i></a></li>
                                                <li class="bubbles bubble_1"><a><i class="icomoon-chat-6"></i></a></li>
                                                <li class="bubbles bubble_2"><a><i class="icomoon-envelope-2"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="span3">
                                            <span class="span7 descrTitle pull-left">Sean Miller</span></div>
                                        <div class="span4">
                                            <span>FA Coordinator</span>
                                            <i class="icomoon-chat"></i>
                                            <span class="date">2/3/12</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid eachFriend muted">
                                    <div class="span12">
                                        <div class="leftSide">
                                            <img id="img_2" class="img-circle pull-left userImg friendImgSmall iscrollPassThrough" src="imgs/BethanyWilliams.png" alt="friend-image">
                                            <ul id="menu_2" class="inverted circleMenu_1 circle_menu15 circle_menu">
                                                <li><a class="showBubble" id="showBubbles_2" href="#"></a></li>
                                                <li class="showDetails bubbles bubble_1"><a><i class="icomoon-phone"></i></a></li>
                                                <li class="showDetails bubbles bubble_1"><a><i class="icomoon-denied"></i></a></li>
                                                <li class="bubbles bubble_1"><a><i class="icomoon-chat-6"></i></a></li>
                                                <li class="bubbles bubble_2"><a><i class="icomoon-envelope-2"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="span3">
                                            <span class="span7 descrTitle pull-left">Bethany Williams</span></div>
                                        <div class="span4">
                                            <span>FA Coordinator</span>
                                            <i class="icomoon-chat"></i>
                                            <span class="date">2/3/12</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-group" style="width: 270px!important; float:left">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2_" href="#collapseTwo_">
                            Admissions Office
                            <i id="admissions" class="icomoon-info"></i>
                        </a>
                    </div>
                    <div id="collapseTwo_" class="accordion-body collapse">
                        <div class="accordion-inner">
                            No past communication
                        </div>
                    </div>
                </div>
                <div class="accordion-group" style="width: 185px!important; float:left">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2_" href="#collapseThree_">
                            Athletics Ticket Office
                            <i id="athletic" class="icomoon-info"></i>
                        </a>
                    </div>
                    <div id="collapseThree_" class="accordion-body collapse">
                        <div class="accordion-inner">
                            No past communication
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>