<div class="expandedRegion expanded1">
    <div class="span12 subMenu">
        <span class="label label-warning subMenuNetwork subMenu22">Network</span>
        <span class="label label-warning subMenuClasses subMenu22">Classes</span>
        <span class="label label-warning subMenuAdvisor subMenu22">Advisors</span>
        <span class="label label-warning subMenuOthers subMenu22">Other</span>
    </div>
    <div class="icons">
        <img id="home" class="network iconLink network submenu" src="imgs/SC Icon.png">
        <i id="chat" class="icomoon-chat-6 chat iconLink submenu"></i><br><br>
        <i id="calendar" class="icomoon-calendar-7 calendar iconLink submenu"></i><br><br>
        <i id="add" class="icomoon-user-add iconLink submenu"></i><br><br>
        <i id="import" class="icomoon-cloud-upload-2 iconLink submenu"></i>
        <i></i>
    </div>
    <div class="messageContainer">
        <div class="mainContent">
            <div class="chatView">
                <div class="chatContainer friedsList spacedScroller">
                    <div class="row-fluid eachFriend chatFilter viewChat">
                        <div class="span12">
                            <div class="imgContainer">
                                <img id="img_1" class="img-circle userImg friendImgChat iscrollPassThrough" src="imgs/sample_student.png" alt="friend-image">
                                <ul id="menu_1" class="inverted circleMenu_1 circle_menu15 circle_menu">
                                    <li><a class="showBubble" id="showBubbles_1" href="#"></a></li>
                                    <li class="showDetails bubbles bubble_1"><a><i class="icomoon-phone"></i></a></li>
                                    <li class="showDetails bubbles bubble_1"><a><i class="icomoon-denied"></i></a></li>
                                    <li class="bubbles bubble_1"><a><i class="icomoon-chat-6"></i></a></li>
                                    <li class="bubbles bubble_2"><a><i class="icomoon-envelope-2"></i></a></li>
                                </ul>
                            </div>
                            <div class="span10 pull-left chatInfo">
                                <span class="span11 descrTitle pull-right">12/24/2013, 10:00:58 am</span>
                                <span class="span11 descr pull-right">
                                    "Would you like to be in our study group?"
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid response">
                        <div class="span12 pull-left chatInfo">
                            <span class="span11 descrTitle pull-right">12/24/2013, 10:05:31 am</span>
                            <span class="span11 descr pull-right">
                                "I think so. When are you meeting and who is in the group?"
                            </span>
                        </div>
                    </div>
                    <div class="row-fluid eachFriend chatFilter viewChat">
                        <div class="span12">
                            <div class="imgContainer">
                                <img id="img_2" class="img-circle userImg friendImgChat iscrollPassThrough" src="imgs/sample_student.png" alt="friend-image">
                                <ul id="menu_2" class="inverted circleMenu_1 circle_menu15 circle_menu">
                                    <li><a class="showBubble" id="showBubbles_2" href="#"></a></li>
                                    <li class="showDetails bubbles bubble_1"><a><i class="icomoon-phone"></i></a></li>
                                    <li class="showDetails bubbles bubble_1"><a><i class="icomoon-denied"></i></a></li>
                                    <li class="bubbles bubble_1"><a><i class="icomoon-chat-6"></i></a></li>
                                    <li class="bubbles bubble_2"><a><i class="icomoon-envelope-2"></i></a></li>
                                </ul>
                            </div>
                            <div class="span10 pull-left chatInfo">
                                <span class="span11 descrTitle pull-right">12/24/2013, 10:07:33 am</span>
                                <span class="span11 descr pull-right">
                                    "It is Frank, Ana and myself"
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid responding">
                        <div id="response" class="span12">
                            <span class="pull-left">* Chat Attachment</span>
                            <span class="pull-right">Video Chat</span>
                            <textarea name="response" class="span12" rows="3"></textarea>
                            <ul class="nav nav-pills">
                                <li class="active pull-right">
                                    <a>Send</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>