<label class="control-label" for="<%= index %>[Value]" style="width: 170px;"><%= Type %> <%= PropertyName %></label>
<div class="controls">	
  <input type="text" class="colorsinput" name="<%= index %>[Value]" placeholder="" value="<%= Value %>" ><br/>
  <input type="hidden" name="<%= index %>[PropertyName]" value="<%= PropertyName %>" >
  <input type="hidden" name="<%= index %>[Type]" value="<%= Type %>" >
</div>