	<div class="row-fluid topInfo text-shadow fromTop">
		<div id="headerLeft" class="span6">

		</div>
		<div id="headerRight" class="span6 alerts text-right">

		</div>                          
	</div><!--/topInfo-->
	<div class="mainArea">
		
		<div id="mainWidg" class="widget widget_2x3 fromLeft" >
			
		</div>
		<div id="topLeftWidg" class="widget widget_1x1 fromRight">

		</div>

		<div class="widget widget_1x1 blank">
		</div>

		<div id="middleLeftWidg" class="widget widget_1x1 fromRight" >

		</div>

		<div class="widget widget_1x1 blank">
		</div>

		<div id="bottomLeftWidg" class="widget widget_1x1 fromRight">                

		</div>

		<div id="footerWidg" class="widget widget_3x1 fromBottom ">

		</div>
	</div><!--/.mainArea-->	