<div class="newMajor nonvisible">
</div>

<div class="majorMapMain">
    <div class="span4 userMapHeading">
        <h3 class="textWhite ">Path: <span class="mapName">Anthropology (BS)</span></h3>
    </div>
    <div class="headingButtons textWhite ">
        <h3>
            <span class="icomoon-info" data-action="dtls"></span>
            <span class="icomoon-graph" data-action="next"></span>
            <span class="icomoon-briefcase-3" data-action="change"></span>
            <span class="icomoon-map" data-action="pathDtls"></span>
            <span class="icomoon-share" data-action="connect"></span>
            <span class="icomoon-mail-3" data-action="msg"></span>
        </h3>
    </div>
    <!-- Year columns -->
    <div class="span12 userMap yearColumnDiv iScrollWrapper" data-scroll-scrollx="true" data-scroll-mousewheel="false">
        <div class="yearColumnDivScroller scroller">
                <!--year 1-->
                <div class="span3 yearColumn" data-id="1" data-descr="Freshman">
                    <h4 class="yearColumnTitle textWhite ">Freshman</h4>
                    <div class="iScrollWrapper">
                        <div class="scroller textWhite">
                            <div class=" courseLink" data-id="1">
                                <div class="mapTerm">
                                    <h4>Term 1</h4>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                              <th>Course</th>
                                              <th>cts</th>
                                              <th>M</th>
                                              <th>O</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                              <td>ABS 101</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td>A</td>
                                            </tr>
                                            <tr>
                                              <td>ENG 101</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td>B</td>
                                            </tr>
                                            <tr>
                                              <td>LIA 100</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td>A-</td>
                                            </tr>
                                            <tr>
                                              <td>MAT 170</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td>A</td>
                                            </tr>
                                            <tr>
                                              <td>FOS 122</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td>A</td>
                                            </tr>
                                            <tr>
                                              <td> </td>
                                              <td>15</td>
                                              <td> </td>
                                              <td>3.73</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                                <div class="mapTerm">
                                    <h4>Term 2</h4>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                              <th>Course</th>
                                              <th>cts</th>
                                              <th>M</th>
                                              <th>O</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                              <td>ASM 104</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td>A</td>
                                            </tr>
                                            <tr>
                                              <td>ENG 102</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td>A</td>
                                            </tr>
                                            <tr>
                                              <td>LOP 122</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td>B-</td>
                                            </tr>
                                            <tr>
                                              <td>MAT 251</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td>C</td>
                                            </tr>
                                            <tr>
                                              <td>TMS 240</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td>A</td>
                                            </tr>
                                            <tr>
                                              <td> </td>
                                              <td>15</td>
                                              <td> </td>
                                              <td>3.33</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!--/year 1-->
                <!--year 2-->
                <div class="span3 yearColumn" data-id="2" data-descr="Sophomore">
                    <h4 class="yearColumnTitle textWhite ">Sophomore</h4>
                    <div class="iScrollWrapper">
                        <div class="scroller textWhite">
                            <div class=" courseLink" data-id="1">
                                <div class="mapTerm">
                                    <h4>Term 3</h4>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                              <th>Course</th>
                                              <th>cts</th>
                                              <th>M</th>
                                              <th>O</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                              <td>ASB 223</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td>A</td>
                                            </tr>
                                            <tr>
                                              <td>OCE 142</td>
                                              <td>4</td>
                                              <td>C</td>
                                              <td>B</td>
                                            </tr>
                                            <tr>
                                              <td>HIS 220</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td>A</td>
                                            </tr>
                                            <tr>
                                              <td>SBS 241</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td>B+</td>
                                            </tr>
                                            <tr>
                                              <td>ART 140</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td>A</td>
                                            </tr>
                                            <tr>
                                              <td> </td>
                                              <td>16</td>
                                              <td> </td>
                                              <td>3.62</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                                <div class="mapTerm">
                                    <h4>Term 4</h4>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                              <th>Course</th>
                                              <th>cts</th>
                                              <th>M</th>
                                              <th>O</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                              <td>AML 100</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td>A</td>
                                            </tr>
                                            <tr>
                                              <td>ASM 104</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td>B</td>
                                            </tr>
                                            <tr>
                                              <td>ENL 201</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td>A</td>
                                            </tr>
                                            <tr>
                                              <td>SOP 116</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td>A</td>
                                            </tr>
                                            <tr>
                                              <td>ACT 142</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td>C</td>
                                            </tr>
                                            <tr>
                                              <td> </td>
                                              <td>15</td>
                                              <td> </td>
                                              <td>3.40</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!--/year 2-->
                <!--year 3-->
                <div class="span3 yearColumn" data-id="3" data-descr="Junior">
                    <h4 class="yearColumnTitle textWhite ">Junior</h4>
                    <div class="iScrollWrapper">
                        <div class="scroller textWhite">
                            <div class=" courseLink" data-id="1">
                                <div class="mapTerm">
                                    <h4>Term 5</h4>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                              <th>Course</th>
                                              <th>cts</th>
                                              <th>M</th>
                                              <th>O</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                              <td>ASM 300</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td><span class="label label-warning">IP</span></td>
                                            </tr>
                                            <tr>
                                              <td>ABS 316</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td><span class="label label-warning">IP</span></td>
                                            </tr>
                                            <tr>
                                              <td>OCE 142</td>
                                              <td>4</td>
                                              <td>C</td>
                                              <td><span class="label label-warning">IP</span></td>
                                            </tr>
                                            <tr>
                                              <td>MOS 207</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td><span class="label label-warning">IP</span></td>
                                            </tr>
                                            <tr>
                                              <td>BAC 222</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td><span class="label label-warning">IP</span></td>
                                            </tr>
                                            <tr>
                                              <td> </td>
                                              <td>16</td>
                                              <td> </td>
                                              <td> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                                <div class="mapTerm">
                                    <h4>Term 6</h4>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                              <th>Course</th>
                                              <th>cts</th>
                                              <th>M</th>
                                              <th>O</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                              <td>ASM 358</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td> </td>
                                            </tr>
                                            <tr>
                                              <td>ASM 461</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td> </td>
                                            </tr>
                                            <tr>
                                              <td>BIO 415</td>
                                              <td>4</td>
                                              <td>C</td>
                                              <td> </td>
                                            </tr>
                                            <tr>
                                              <td>ART 360</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td> </td>
                                            </tr>
                                            <tr>
                                              <td>ENL 107</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td> </td>
                                            </tr>
                                            <tr>
                                              <td> </td>
                                              <td>16</td>
                                              <td> </td>
                                              <td> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!--/year 3-->
                <!--year 4-->
                <div class="span3 yearColumn" data-id="3" data-descr="Senior">
                    <h4 class="yearColumnTitle textWhite ">Senior</h4>
                    <div class="iScrollWrapper">
                        <div class="scroller textWhite">
                            <div class=" courseLink" data-id="1">
                                <div class="mapTerm">
                                    <h4>Term 7</h4>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                              <th>Course</th>
                                              <th>cts</th>
                                              <th>M</th>
                                              <th>O</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                              <td>ASM 300</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td> </td>
                                            </tr>
                                            <tr>
                                              <td>ABS 316</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td> </td>
                                            </tr>
                                            <tr>
                                              <td>OCE 142</td>
                                              <td>4</td>
                                              <td>C</td>
                                              <td> </td>
                                            </tr>
                                            <tr>
                                              <td>MOS 207</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td> </td>
                                            </tr>
                                            <tr>
                                              <td>BAC 222</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td> </td>
                                            </tr>
                                            <tr>
                                              <td> </td>
                                              <td>16</td>
                                              <td> </td>
                                              <td> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                                <div class="mapTerm">
                                    <h4>Term 8</h4>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                              <th>Course</th>
                                              <th>cts</th>
                                              <th>M</th>
                                              <th>O</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                              <td>ASM 358</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td> </td>
                                            </tr>
                                            <tr>
                                              <td>ASM 461</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td> </td>
                                            </tr>
                                            <tr>
                                              <td>BIO 415</td>
                                              <td>4</td>
                                              <td>C</td>
                                              <td> </td>
                                            </tr>
                                            <tr>
                                              <td>ART 360</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td> </td>
                                            </tr>
                                            <tr>
                                              <td>ENL 107</td>
                                              <td>3</td>
                                              <td>C</td>
                                              <td> </td>
                                            </tr>
                                            <tr>
                                              <td> </td>
                                              <td>16</td>
                                              <td> </td>
                                              <td> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!--/year 4-->
        </div>
    </div>
    <!-- /Year columns -->
    
</div>
<div class="MapSumm">
    <table class="table">
        <thead>
            <tr>
              <th> </th>
              <th>Credits</th>
              <th>Grade pts</th>
              <th>GPA</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>GRAND TOTAL:</td>
              <td>61</td>
              <td>215</td>
              <td>3.52</td>
            </tr>
        </tbody>
    </table>
</div>

