
<div class="modal-body" style="margin-bottom: -30px; padding-bottom: 0;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icomoon-close closeModal"></i></button>
    <div class="mapContact row-fluid">
        <div class="left">
            <img class="img-circle userImg mapContactImg" src="imgs/sample_admin1.png" alt="mapContact-image">
            <label>Jose Peres</label>
            <label><a href="mailto:advising@studentcloud.com">advising@studentcloud.com</a></label>
            <label><a href="tel:305-299-3555">305-299-3555</a></label>
        </div>
        <div class="right">
            <div class="detailInfo">
                <form style="margin-bottom: 0;">
                    <h4>Create New Message</h4>
                    <div class="mapContactScrollerAdd" data-scroll-bounceeasing="elastic">
                        <div class="iScrollWrapper">
                            <div class="scroller">
                                <div class="mapContactInner">
                                    <div class="row-fluid">
                                        <div class="container-fluid">
                                            <div class="row-fluid">
                                                <div class="span11">
                                                    <span class="pull-right">Video Chat</span>
                                                    <input class="required" placeholder="Subject" type="text" name="message_subject" id="message_subject">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="container-fluid">
                                            <div class="row-fluid">
                                                <div class="span11">
                                                    <textarea placeholder="Message" rows="5"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <ul class="nav nav-pills" style="margin-right: 25px; margin-bottom: 0;">
                    <li class="active pull-right">
                        <a>Send</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer" style="position: relative;">
    <h4>-- Make An Appointment --</h4>
    <input type="text" class="datepicker">
    <select>
        <option>Select Time</option>
        <option>8am - 9am</option>
        <option>9am - 10am</option>
        <option>1pm - 2pm</option>
        <option>2pm - 3pm</option>
    </select>
    <button class="btn btn-primary">Submit</button>
</div>

