<div id="MsgModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close closeModal" data-dismiss="modal" aria-hidden="true"><i class="icomoon-close closeModal"></i></button>
		<h3 class="icomoon-question" id="myModalLabel">
			&nbsp;<%= title %>
		</h3>
	</div>
	<div class="modal-body iScrollWrapper">
            <div class="scroller">
                <div class="row">
                    <div class="span3">
                        <strong>Catalog ID: </strong><%= course_catalog_id %>
                    </div>
                    <div class="span3">
                        <strong>Effective Date: </strong><%= eff_date %>
                    </div>
                </div>
                <div class="row">
                    <div class="span5">
                        <strong>Description: </strong><%= description %>
                    </div>
                </div>
                <!-- <strong>Delivery: </strong><%= delivery %><br/> -->
                <div class="row">
                    <div class="span3">
                        <strong>CIP: </strong><%= cip_code %>
                    </div>
                    <div class="span3">
                        <strong>HEGIS: </strong><%= hegis_code %>
                    </div>
                </div>

                <div class="row">
                    <div class="span3">
                        <strong>Max Units: </strong><%= max_units %>
                    </div>
                    <div class="span3">
                        <strong>Min Units: </strong><%= min_units %>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="span3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Term</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% _.each(terms, function(term){ %>
                                    <tr>
                                        <td><%= term.Description_Short %></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <div class="span2">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Pre Requisite</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% _.each(prerequisites, function(course){ %>
                                    <tr>
                                        <td><%= course.title %></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="span3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Co Requisites</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% _.each(corequisites, function(course){ %>
                                    <tr>
                                        <td><%= course.title %></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <div class="span2">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Equivalences</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% _.each(equivalences, function(course){ %>
                                    <tr>
                                        <td><%= course.title %></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
	</div>
	<div class="modal-footer">
		<span class="btn btn-warning removeBtn" aria-hidden="true">Remove From Map</span>
	</div>
</div>
