<!--
start search fields
-->
<form id='searchFields' style='margin: 0 auto'>
    <legend>Map Search<button type="submit" class="btn btn-primary pull-right">Submit</button></legend>

    <input type="text" name="description" placeholder="Map Name">

    <label>&nbsp;</label>
    <select name="classif" class="classifications">
        
    </select>
    
</form>
<!--
end search fields
-->

<!--
start search results
-->
<form id="searchResults">
    <legend class="allowClick">Results<button class="btn btn-primary pull-right openSearch">Search</button></legend>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Major Map
                    </th>
                    <th>
                        Eff Date
                    </th>
                </tr>
            </thead>
            <tbody id="maps">
            
            <tbody>
        </table>
    </div>
</form>
<!--
start search results
-->
