<div class="transparentContainerPadded boxShadow span10 centerContent">
    <div class="row-fluid">
        <div class="span4">
            <div class="row-fluid">
                <h5 class=" smallLabels">Component Type ID </h5>
                <div class="control-group span12">
                    <div class="inputFormat">
                        <div class="controls inside small">
                            <input id="id" class="span12"  required type="text"  maxlength="8"  data-validation-regex-regex="\w{1,8}"  data-validation-regex-message="No spaces allowed, max 8 characters" value="<% print(typeof model_id !='undefined' && model_id || undefined) %>" name="model_id"/>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class=" span12">
                    <h5 class=" smallLabels">Component Type Long Name</h5>
                    <div class="inputFormat">
                        <div class="control-group inside small">
                            <div class="controls">
                                <input class="span12" required type="text" maxlength="120" value="<%= Description_Long %>" name="Description_Long"/>
                            </div>
                        </div>

                    </div>
                    <h5 class=" smallLabels">Component Type Short Name</h5>
                    <div class="inputFormat">
                        <div class="control-group inside small">
                            <div class=" controls">
                                <input class="span12" required type="text" maxlength="40" value="<%= Description_Short %>" name="Description_Short"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="span4 pull-right">
            <div class="row-fluid">
                <h5 class=" smallLabels">Eff. Date</h5>
                <div class="control-group span12">
                    <div class="inputFormat">
                        <div class="inside controls small">
                            <input required type="text" value="<%= eff_date %>" name="eff_date" class="span12 datepicker eff_date"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button  class="validationBtn hidden">Test Validation <i class="icon-ok icon-white"></i></button>
</div>

