<div class="row-fluid landingWrapper">
    <div class="span4 choose">
        <div class="formLanding">
            <form>
                <div class="studentcloud_logo">
                    <img src="/imgs/studentcloud_logo.png">
                </div>
                <div class="social_login">
                    <a class="span12 newApp">New</a>
                    <a class="span12 resumeApp">Resume</a>
                    <br>
                    <br>
                    <span class="icomoon-facebook-2 FBLoginBtn"></span>
                    <span style="padding-left: 10px" class="icomoon-linkedin"></span>
                    <span style="padding-left: 10px" class="icomoon-googleplus"></span>
                    <span style="padding-left: 10px" class="icomoon-twitter"></span>
                    <span style="padding-left: 10px" class="icomoon-instagram"></span>
                </div>
            </form>
        </div>
    </div>
</div>