<ul class="accordion">
    <li>
        <a class="accordionMenuBtn">Education History</a>
        <ul class="sub-menu">
            <li><a class="menuLinks">High School</a></li>
            <li><a class="menuLinks">College</a></li>
        </ul>
    </li>
    <li><a class="menuLinks direct">Applicant Interest</a></li>
    <li><a class="menuLinks direct">Residency</a></li>
    <li><a class="menuLinks direct">Extra Curricular Activities</a></li>
    <li><a class="menuLinks direct">Honors and Awards</a></li>
</ul>