/* iOS Skin */
.minnoware .dw {
    padding: 0;
/*    border: 1px solid #2d3034;*/
    background: none;
    color: #fff;
    border-radius: 0;
    -webkit-border-radius: 0;
    font-family: "Trebuchet MS", Helvetica, Arial !important;
}
.minnoware .dw-trans{
    z-index: 1;
}
.minnoware .dwo {
    background: none;
}
.minnoware .dwwr {
    position: relative;
    margin-top: 40px;
    background: rgba(0,0,0,0);
}
.minnoware .dwi .dwwr {
    margin-top: 0;
}
.minnoware .dwv {
    display: none;
}
.minnoware .dwc {
    padding: 30px 0;
    margin: 0 2px;
}
.minnoware .dwhl {
    padding: 10px 0;
}

.minnoware .dwhl .dwl {
    display: block;
    font-size: 18px;
}

.minnoware .dwwc {
    background: transparent;
}
.minnoware .dwwl {
    margin: 4px 0;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    background: #cbcce0;
    background: linear-gradient(#2c2c38 0%,#cbcce0 35%, #cbcce0 65%,#2c2c38 100%);
    background: -webkit-gradient(linear,left bottom,left top,from(#2c2c38),color-stop(0.35, #cbcce0),color-stop(0.65, #cbcce0),to(#2c2c38));
    background: -moz-linear-gradient(#2c2c38 0%,#cbcce0 35%, #cbcce0 65%,#2c2c38 100%);
    background: -o-linear-gradient(#2c2c38 0%,#cbcce0 35%, #cbcce0 65%,#2c2c38 100%);
    box-shadow: 0 1px 1px rgba(255,255,255,0.3);
    -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.3);
}
.minnoware td:first-child .dwwl {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
}
.minnoware td:last-child .dwwl {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
}
.minnoware .dwsc .dwwl {
    border-radius: 0;
    -webkit-border-radius: 0;
}
.minnoware .dwsc .dww {
    background: #fff;
    background: linear-gradient(#333 0%,#999 10%,#fff 30%,#fff 70%,#999 90%,#333 100%);
    background: -webkit-gradient(linear,left bottom,left top,from(#333),color-stop(0.10, #999),color-stop(0.30, #fff),color-stop(0.70, #fff),color-stop(0.90, #999),to(#333));
    background: -moz-linear-gradient(#333 0%,#999 10%,#fff 30%,#fff 70%,#999 90%,#333 100%);
    background: -o-linear-gradient(#333 0%,#999 10%,#fff 30%,#fff 70%,#999 90%,#333 100%);
    border-radius: 0;
    -webkit-border-radius: 0;
}
.minnoware .dw .dwpm .dww {
    background: linear-gradient(#000,#fff 48%,#fff 52%,#000);
    background: -webkit-gradient(linear,left bottom,left top,from(#333),color-stop(0.48, #fff),color-stop(0.52, #fff),to(#333));
    background: -moz-linear-gradient(#000 0%,#fff 48%,#fff 52%,#000 100%);
    background: -o-linear-gradient(#000 0%,#fff 48%,#fff 52%,#000 100%);
}
.minnoware .dw .dwpm .dwwl {
    margin: 4px 2px;
    border: 1px solid #000;
}
.minnoware .dw .dwpm .dww {
    margin: 0;
    border: 0;
}
.minnoware .dww .dw-li {
    color: #000;
    font-size: 20px;
/*    font-weight: bold;
    text-align: right;*/
    text-shadow: none;
}
.minnoware .dww .dw-li.dw-hl {
    background: linear-gradient(#0288f3,#005de6);
    background: -webkit-gradient(linear,left bottom,left top,from(#0288f3),to(#005de6));
    background: -moz-linear-gradient(#0288f3,#005de6);
    background: -o-linear-gradient(#0288f3,#005de6);
    color: #fff;
}
.minnoware .dww {
    width: 150px !important;
}
.minnoware .dwwo {
    background: linear-gradient(#333 0%,rgba(153,153,153,0) 10%, rgba(153,153,153,0) 90%, #333 100%);
    background: -webkit-gradient(linear,left bottom,left top,from(#333),color-stop(0.1, rgba(153,153,153,0)),color-stop(0.9, rgba(153,153,153,0)),to(#333));
    background: -moz-linear-gradient(#333 0%,rgba(153,153,153,0) 10%, rgba(153,153,153,0) 90%, #333 100%);
    background: -o-linear-gradient(#333 0%,rgba(153,153,153,0) 10%, rgba(153,153,153,0) 90%, #333 100%);
}
.minnoware .dwwol {
    height: 28px;
    padding: 1px;
    margin-top: -16px;
    border-color: #7b8699;
    background: #6f75b0;
    background: linear-gradient(rgba(151, 157, 197, 0.5) 50%,rgba(111, 117, 176, 0.5) 50%);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0.5, rgba(111, 117, 176, 0.5)),color-stop(0.5, rgba(151, 157, 197, 0.5)));
    background: -moz-linear-gradient(rgba(151, 157, 197, 0.5) 50%,rgba(111, 117, 176, 0.5) 50%);
    background: -o-linear-gradient(rgba(151, 157, 197, 0.5) 50%,rgba(111, 117, 176, 0.5) 50%);
    z-index: 10;
    left: -1px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    filter: alpha(opacity=50);
}
.minnoware .dww .dwwol {
    display: none;
}
.minnoware .dw .dwbc {
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 28px;
    padding: 5px 0;
    background: #454545;
    background: linear-gradient(rgba(69,69,69,0.7),rgba(37,37,37,0.7) 50%,rgba(16,16,16,0.7) 50%,rgba(0,0,0,0.7));
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(69,69,69,0.7)),color-stop(0.5, rgba(37,37,37,0.7)),color-stop(0.5, rgba(16,16,16,0.7)),to(rgba(0,0,0,0.7)));
    background: -moz-linear-gradient(rgba(69,69,69,0.7),rgba(37,37,37,0.7) 50%,rgba(16,16,16,0.7) 50%,rgba(0,0,0,0.7));
    background: -o-linear-gradient(rgba(69,69,69,0.7),rgba(37,37,37,0.7) 50%,rgba(16,16,16,0.7) 50%,rgba(0,0,0,0.7));
    border-bottom: 1px solid #888;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid #888;
    border-top: 1px solid rgba(255,255,255,0.5);
}
.minnoware .dw .dwb {
    margin: 0 5px;
    padding: 0 10px;
    display: inline-block;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #1f1f1f;
    background: #1a1a1a;
    background: linear-gradient(#7b7b7b,#1a1a1a 50%,#000 50%);
    background: -webkit-gradient(linear,left top,left bottom,from(#7b7b7b),color-stop(0.5, #1a1a1a),color-stop(0.5, #000));
    background: -moz-linear-gradient(#7b7b7b,#1a1a1a 50%,#000 50%);
    background: -o-linear-gradient(#7b7b7b,#1a1a1a 50%,#000 50%);
    box-shadow: 0 1px 0 rgba(255,255,255,0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.3);
}
.minnoware .dwb-s .dwb {
    border: 1px solid #194aab;
    background: #194aab;
    background: linear-gradient(#82aaff,#3162c4 50%,#194aab 50%);
    background: -webkit-gradient(linear,left top,left bottom,from(#82aaff),color-stop(0.5,#3162c4),color-stop(0.5,#194aab));
    background: -moz-linear-gradient(#82aaff,#3162c4 50%,#194aab 50%);
    background: -o-linear-gradient(#82aaff,#3162c4 50%,#194aab 50%);
}
.minnoware .dwb-a {
    opacity: .8;
    filter: alpha(opacity=80);
}
.minnoware .dw .dwwb {
    color: #fff;
    border: 0;
    background: #3f4e68;
    background: linear-gradient(#c7d1e2 0%,#808ea6 50%,#75859f 50%,#3f4e68 100%);
    background: -webkit-gradient(linear,left bottom,left top,from(#3f4e68),color-stop(0.5, #75859f),color-stop(0.5, #808ea6),to(#c7d1e2));
    background: -moz-linear-gradient(#c7d1e2 0%,#808ea6 50%,#75859f 50%,#3f4e68 100%);
    background: -o-linear-gradient(#c7d1e2 0%,#808ea6 50%,#75859f 50%,#3f4e68 100%);
}
.minnoware .dw .dwwl .dwb-a {
    background: #252c36;
    background: linear-gradient(#6b6e75 0%,#272e38 50%,#171e28 50%,#252c36 100%);
    background: -webkit-gradient(linear,left bottom,left top,from(#252c36),color-stop(0.5, #171e28),color-stop(0.5, #272e38),to(#6b6e75));
    background: -moz-linear-gradient(#6b6e75 0%,#272e38 50%,#171e28 50%,#252c36 100%);
    background: -o-linear-gradient(#6b6e75 0%,#272e38 50%,#171e28 50%,#252c36 100%);
}
.minnoware .dwb-s, .minnoware .dwb-n {
    width: auto;
    float: right;
    text-align: right;
}
.minnoware .dwb-c {
    width: auto;
    float: left;
    text-align: left;
}
/* Bubble positioning */
.minnoware.dw-bubble .dw {
    padding: 6px;
    background: #afafaf;
    background: linear-gradient(#afafaf, #1b2530 30%);
    background: -webkit-gradient(linear,left top,left bottom,from(#afafaf),color-stop(0.3, #1b2530));
    background: -moz-linear-gradient(#afafaf, #1b2530 30%);
    background: -o-linear-gradient(#afafaf, #1b2530 30%);
    box-shadow: 0 0 25px rgba(0,0,0,0.7);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 0 25px rgba(0,0,0,0.7);
}
.minnoware .dw-bubble-bottom .dw-arr {
    border-color: transparent transparent #2d3034 transparent;
}
.minnoware .dw-bubble-bottom .dw-arr:after {
    content: '';
    position: absolute;
    top: -16px;
    left: -17px;
    border: 17px solid #afafaf;
    border-color: transparent transparent #afafaf transparent;
}
.minnoware .dw-bubble-top .dw-arr {
    border-color: #1b2530 transparent transparent transparent;
}
/* Multiple select */
.minnoware .dwwms .dwwol {
    display: none;
}
.minnoware .dwwms .dw-li {
    padding: 0 5px 0 30px;
    text-align: left;
}
.minnoware .dw-msel:after {
    width: 30px;
}
.minnoware .dww .dw-msel {
    color: #215085;
}
