
<input id="searchField" type="text" class="search-query" placeholder="Search On">
<br>
<div style="clear:both"></div>

<div id="searchResults" class="transparentContainer">

    <table class="table table-hover">
        <thead>
            <tr>
                <th class="textWhite ">User Name</th>
                <th class="textWhite ">Eff Date</th>
                <th class="textWhite ">Status</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</div>