<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icomoon-close closeModal"></i></button>
    <h3 id="myModalLabel"><span class="icomoon-user"></span> Anthropology Advisor</h3>
</div>

<div class="modal-body">
    <div class="userImgWrapper">
        <img class="img-circle" src="imgs/sample_admin1.png">
    </div>
    <label>Jose Peres</label>
    <label><a href="mailto:advising@studentcloud.com">advising@studentcloud.com</a></label>
    <label><a href="tel:305-299-3555">305-299-3555</a></label>

</div>