<div class="modal prospectsModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icomoon-close closeModal"></i></button>
        <h3 id="myModalLabel"><span class="icomoon-briefcase-3"> Add New</span></h3>
    </div>
    <div class="modal-body ">
        <div class="prospectsDetails row-fluid">
            <div class="addNew">
                <div class="left">
                    <img class="img-circle userImg prospectsImg" src="<%=picture%>" alt="prospect-image">

                    <div class="addNewMenu">
                        <button class="btn btn-studentcloud saveNewProspect">Save</button>
                        <button class="btn btn-inverse upload">Upload</button>
                        <input type="file" class="hidden uploader">
                    </div>
                </div>
                <div class="right">
                    <div class="detailInfo">
                        <form>
                            <div class="prospectsDetailsScrollerAdd" data-scroll-bounceeasing="elastic">
                                <div class="iScrollWrapper">
                                    <div class="scroller">
                                        <div class="prospectsInner">
                                            <div class="row-fluid">
                                                <div class="container-fluid">
                                                    <div class="row-fluid">
                                                        <div class="span3">
                                                            <span class='prospectInfoLabel'>First Name: </span>
                                                        </div>
                                                        <div class="span9">
                                                            <input class="required" type="text" name="first_name" id="prospectFirstName">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="container-fluid">
                                                    <div class="row-fluid">
                                                        <div class="span3">
                                                            <span class='prospectInfoLabel'>Last Name: </span>
                                                        </div>
                                                        <div class="span9">
                                                            <input class="required" type="text" name="last_name" id="prospectLastName">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="container-fluid">
                                                    <div class="row-fluid">
                                                        <div class="span3">
                                                            <span class='prospectInfoLabel'>Birthday: </span>
                                                        </div>
                                                        <div class="span9">
                                                            <input type="text" class="datepicker" name="birthdate" id="prospectBirthDate">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="container-fluid">
                                                    <div class="row-fluid">
                                                        <div class="span3">
                                                            <span class='prospectInfoLabel'>Email: </span>
                                                        </div>
                                                        <div class="span9">
                                                            <input type="text" name="email" id="prospectEmail">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="container-fluid">
                                                    <div class="row-fluid">
                                                        <div class="span3">
                                                            <span class='prospectInfoLabel'>Bio: </span>
                                                        </div>
                                                        <div class="span9">
                                                            <input type="text" name="bio" id="prospectBio">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="container-fluid">
                                                    <div class="row-fluid">
                                                        <div class="span3">
                                                            <span class='prospectInfoLabel'>School: </span>
                                                        </div>
                                                        <div class="span9">
                                                            <input type="text" name="school" id="prospectSchool">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="container-fluid">
                                                    <div class="row-fluid">
                                                        <div class="span3">
                                                            <span class='prospectInfoLabel'>Teams: </span>
                                                        </div>
                                                        <div class="span9">
                                                            <input type="text" name="team" id="prospectTeams">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="container-fluid">
                                                    <div class="row-fluid">
                                                        <div class="span3">
                                                            <span class='prospectInfoLabel'>Work: </span>
                                                        </div>
                                                        <div class="span9">
                                                            <input type="text" name="work" id="prospectWork">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="container-fluid">
                                                    <div class="row-fluid">
                                                        <div class="span3">
                                                            <span class='prospectInfoLabel'>Hometown: </span>
                                                        </div>
                                                        <div class="span9">
                                                            <input type="text" name="hometown" id="prospectHometown">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="container-fluid">
                                                    <div class="row-fluid">
                                                        <div class="span3">
                                                            <span class='prospectInfoLabel'>Certifications: </span>
                                                        </div>
                                                        <div class="span9">
                                                            <input type="text" name="certifications" id="prospectCert">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="text" name="created_date" id="prospectCreatedDate" class="displayNone">
                                            <input type="text" name="source" id="prospectSource" value="internal" class="displayNone">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>