
<div class="form-signin">
    <form>
        <div class="studentcloud_logo"><img src="/imgs/studentcloud_logo.png"></div>

        <input type="text" class="input-block-level username" name="username" placeholder="Username">
        <input type="password" class="input-block-level password" name="password" placeholder="Password">

        <input type="hidden" name="login_type" value="Internal">

        <button class="btn btn-large btn-block loginBtn" type="submit">LOGIN</button>
        <div class="social_login">
            <span style="padding-right: 10px">Log in with</span>
            <span class="icomoon-facebook-2 FBLoginBtn"></span> 
            <span style="padding-left: 10px" class="icomoon-linkedin"></span>
            <span style="padding-left: 10px" class="icomoon-googleplus"></span>
            <span style="padding-left: 10px" class="icomoon-twitter"></span>
            <span style="padding-left: 10px" class="icomoon-instagram"></span> 
            <div>&nbsp;</div>
            <a href="#application">Apply for Admissions</a>
        </div>
        <!--<button class="btn btn-large btn-primary btn-block FBLoginBtn" type="submit"><span class="icomoon-facebook-2"><span> Log in with Facebook</button>-->
        <!--<button class="apply btn btn-success btn-large  btn-block" type="submit">Apply for Admission</button>-->
    </form>
    <div>
    </div>
    <br/>
    <div>
    </div>
</div>