<div class="modal">
    <div class="modal-header">
        <button type="button" class="close closeModal" data-dismiss="modal" aria-hidden="true"><i class="icomoon-close closeModal"></i></button>
        <h3 class="icomoon-stack" id="myModalLabel"> <%=title%></h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class='span12'>
                <strong>Institution </strong><%= institution %><br/>
                <strong>Catalog ID: </strong><%= course_catalog_id %> - (<%= delivery %>)<br/>
                <!-- <strong>Delivery: </strong><%= delivery %><br/> -->
                <br/>
                <strong>Start: </strong><%= start_date %> <strong>End: </strong><%= end_date %><br/>
                <br/>
                <strong>Class Index No. </strong><%= sclass %><br/>
                <strong>Credits: </strong><%= count_units %><br/>
                <strong>Total Seats: </strong><%= total_seats_avail %><br/>
                <strong>Enrolled: </strong><%= number_enrolled %>
                <br/>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Building</th>
                            <th>Room</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% _.each(schedule, function(sch){ %>
                        <tr>
                            <td><%= sch.day %></td>
                            <td><%= sch.building_description %></td>
                            <td><%= sch.room_description %></td>
                            <td><%= sch.start_time %></td>
                            <td><%= sch.end_time %></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Instructor</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% _.each(instructors, function(inst){ %>
                        <tr>
                            <td><%= inst.instructor %></td>
                            <td><%= inst.instructor_type %></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn closeModal btn-warning closeModal">Close</a>
    </div>
</div>