<div class="modal">
    <div class="modal-header">
        <button type="button" class="close closeModal" data-dismiss="modal" aria-hidden="true"><i class="icomoon-close closeModal"></i></button>
        <h3>Incomplete Form</h3>
    </div>
    <div class="modal-body incompleteModal">
        <div class="incompleteFormInner row-fluid">
            <form>
                <label>Justification for Assignment Incomplete</label>
                <div class="row-fluid">
                    <textarea class="span12 required" name="i_justification" id="incompleteAssigments" rows="4"><%= i_justification %></textarea>
                </div>
                <label>Specific Missing Assignment </label>
                <div class="row-fluid">
                    <textarea class="span12 required" name="missing_assigment" id="missingAssigments" rows="4"><%= missing_assigment %></textarea>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <label>Date Assignment due</label>
                        <input name="completion_date" class="span10 datepicker required" id="dueDate" value="<%= completion_date %>" type="text"/>
                    </div>
                    <div class="span4">
                        <label>Percentage of Grade</label>
                        <div class="input-append">
                            <input name="missing_assig_perc" id="percentGrade" type="tel" value="<%= missing_assig_perc %>" class="span8 required">
                            <span class="add-on">%</span>
                        </div>
                    </div>
                    <div class="span4">
                        <label>Grade Earned to Date</label>
                        <select name='grade_earned_date' id='selectGradeEarned' class='span12'>

                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn closeModal btn-warning">Close</a>
        <a class="btn btn-success saveIncomplete   <%if(roster_status == 'Post'){print(' displayNone')}%>">Save</a>
    </div>
</div>