<div class="transparentContainerPadded boxShadow span10 centerContent">
    <div class="row-fluid">
        <div class="span12 centerSpans">
            <div class="row-fluid">
                <div class="span4">
                    <div class="control-group ">
                        <h5 class=" smallLabels">Subject</h5>
                        <div class="inputFormat">
                            <div class="controls inside small">
                                <select id="subjectSelector" name="subject">
                                    <option selected>subject</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <h5 class=" smallLabels">Title</h5>
                    <div class="inputFormat">
                        <div class="controls inside small">
                            <input class="span12" placeholder="Title" required type="text"  maxlength="60"  value="<%= title %>" name="title"/>
                        </div>
                    </div>
                    <h5 class=" smallLabels">Description</h5>
                    <div class="controls inside">
                        <textarea class="span12" maxlength="256" name="description"><%= description %></textarea>
                    </div>

                    <h5 class=" smallLabels">Grade Type</h5>
                    <div class="inputFormat">
                        <div class="controls inside small">
                            <select id="gradeSelector" name="grade">
                                <option selected>grade type</option>
                            </select>
                        </div>
                    </div>
                    <h5 class=" smallLabels">Delivery Method</h5>
                    <div class="inputFormat">
                        <div class="controls inside small">
                            <select id="deliverySelector" name="delivery">
                                <option selected>del method</option>
                            </select>
                        </div>
                    </div>
                    <h5 class=" smallLabels">Classification</h5>
                    <div class="control-group ">
                        <div class="inputFormat">
                            <div class="controls inside small">
                                <select id="classifSelector" name="classif">
                                    <option selected>classif</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span4">
                    <h5 class=" smallLabels">Catalog #</h5>
                    <div class="inputFormat">
                        <div class="controls inside small">
                            <input class="span12" placeholder="Catalog #" required type="text"  maxlength="10"  value="<% print(typeof course_catalog_id !='undefined' && course_catalog_id || undefined) %>" name="course_catalog_id"/>
                        </div>
                    </div>
                    <h5 class=" smallLabels">College / Department</h5>
                    <div class="control-group">
                        <div class="inputFormat">
                            <div class="controls inside small">
                                <select id="collegeSelector">
                                    <option selected>college</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="inputFormat">
                            <div class="controls inside small">
                                <select id="departmentSelector">
                                    <option selected>dept</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <h5 class=" smallLabels">CIP</h5>
                    <div class="inputFormat">
                        <div class="controls inside small">
                            <input class="span12" type="tel" placeholder="CIP"  maxlength="120"  value="<%= cip_code %>" name="cip_code"/>
                        </div>
                    </div>
                    <h5 class=" smallLabels">HEGIS</h5>
                    <div class="inputFormat">
                        <div class="controls inside small">
                            <input class="span12" type="tel" placeholder="HEGIS"  maxlength="120"  value="<%= hegis_code %>" name="hegis_code"/>
                        </div>
                    </div>
                    <h5 class=" smallLabels">Credits: Min / Max / Count</h5>
                    <div class="inputFormat">
                        <div class="controls inside small">
                            <input class="span4 rightBorer" placeholder="Min" type="tel"   value="<%= min_units %>" name="min_units"/>
                            <input class="span4 rightBorer" placeholder="Max" type="tel"   value="<%= max_units %>" name="max_units"/>
                            <input class="span4" placeholder="Count" type="tel"     value="<%= count_units %>" name="count_units"/>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <h5 class=" smallLabels">Eff. Date</h5>
                    <div class="inputFormat">
                        <div class="controls inside small">
                            <input class="span12 datepicker eff_date" placeholder="Eff. Date" required type="text" value="<%= eff_date %>" name="eff_date" />
                        </div>
                    </div>
                    <h5 class=" smallLabels">Total Units Allowed</h5>
                    <div class="inputFormat">
                        <div class="controls inside small">
                            <input class="span12" type="tel" placeholder="Total Units Allowed" maxlength="120"  value="<%= total_units_allowed %>" name="total_units_allowed"/>
                        </div>
                    </div>
                    <h5 class=" smallLabels">Total Completions Allowed</h5>
                    <div class="inputFormat">
                        <div class="controls inside small">
                            <input class="span12" type="tel" placeholder="Total Completions Allowed" maxlength="120"  value="<%= total_completions_allowed %>" name="total_completions_allowed"/>
                        </div>
                    </div>
                    <h5 class=" smallLabels">Grade Component</h5>
                    <div class="inputFormat">
                        <div class="controls inside small">
                            <input class="span12" required type="text" placeholder="Grade Component" maxlength="120"  value="<%= grade %>" name="grade"/>
                            <input class="span12" type="hidden" placeholder="Component" maxlength="120"  value="<%= component %>" name="component"/>
                        </div>
                    </div>
                    <br>
                    <div class="checkboxInputs">
                        <div class="pull-left switch" data-on="success" data-off="danger" data-on-label="<i class='icon-ok icon-white'></i>" data-off-label="<i class='icon-remove'></i>">
                            <input id="repeat" <% if (repeat == "1") { print('checked')} %> name="repeat" type="checkbox" />
                        </div>
                        <label  class="pull-left">Repeat for Credit Allow</label>
                    </div>
                    <div style="clear: both"></div>
                    <br>
                    <div class="checkboxInputs">
                        <div class="pull-left switch" data-on="success" data-off="danger" data-on-label="<i class='icon-ok icon-white'></i>" data-off-label="<i class='icon-remove'></i>">
                            <input id="allow_mutiple" <% if (allow_mutiple == "1") { print('checked')} %>   name="allow_mutiple" type="checkbox"  />
                        </div>
                        <label class="pull-left">Multiple Term Enroll</label>
                    </div>
                    <div style="clear: both"></div>
                </div>
            </div>
        </div>
    </div>
    <button  class="validationBtn hidden">Test Validation <i class="icon-ok icon-white"></i></button>
</div>